/**
 * Copyright 2020 Antoine Orgerit. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

/* general style of the theme loader */

#theme-loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: table;
    z-index: 2000;
}

#theme-loader>span {
    display: table-cell;
    vertical-align: middle;
    color: #fa8c16;
}

/* specific style based on dark or light mode */

body[data-theme="light"] #theme-loader {
    background-color: white;
}

body[data-theme="dark"] #theme-loader {
    background-color: black;
}