/**
 * Copyright 2020 Antoine Orgerit. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

 /* general style of the slider */

.slider {
    position: relative;
}

/* style of the carousel actions */

.slider .slider-actions-container {
    position: relative;
}

.slider .slider-actions-container .slider-action {
    position: absolute;
    z-index: 300;
    color: white;
    top: calc(50% - 1em);
    font-size: 2em;
    text-align: center;
    vertical-align: center;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    border-radius: 100%;
    padding: 0.15em;
    transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, visibility 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.slider .slider-actions-container .slider-action.slider-action-left {
    left: 0;
    margin-left: 0.5em;
}

.slider .slider-actions-container .slider-action.slider-action-right {
    right: 0;
    margin-right: 0.5em;
}

.slider .slider-actions-container .slider-action.slider-action-fullscreen {
    background-color: rgba(255, 255, 255, 0);
    top: initial;
    font-size: 1.5em;
    bottom: 0;
    right: 0;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}

.slider:hover .slider-actions-container .slider-action {
    visibility: visible;
    opacity: 1;
}

.slider .slider-actions-container .slider-action:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.slider .slider-actions-container .slider-action.slider-action-fullscreen:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.slider .slider-actions-container .slick-dots {
    height: 1em;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.slider:hover .slider-actions-container .slick-dots {
    opacity: 1;
    visibility: visible;
}

.slider .slider-actions-container .slick-dots button {
    height: 5px;
    border-radius: 2px;
}

/* updating dark theme to have light interactions */

body[data-theme="dark"] .slider .slider-actions-container .slick-dots button {
    background-color: #fff;
    opacity: 0.3;
    transition: opacity 0.5s;
}

body[data-theme="dark"] .slider .slider-actions-container .slick-dots li.slick-active button {
    opacity: 1;
}

/* fullscreen properties */

.slider.slider-fullscreen {
    position: fixed;
    width: 100% !important;
    height: 100% !important;
    z-index: 5000;
    margin: 0 !important;
    top: 0;
    left: 0;
    background-color: black;
    overflow: hidden;
}

.slider.slider-fullscreen .slider-actions-container {
    height: 100%;
}

.slider.slider-fullscreen .slider-actions-container .ant-carousel {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}