/**
 * Copyright 2020 Antoine Orgerit. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

/* general style of the slider in the hope page */

#home-container .slider {
    width: 133.4%;
    margin-left: -16.7%;
    margin-top: -5vh;
}

/* height of slider depending on screen size */

@media all and (max-width: 991px) {
    #home-container .slider, #home-container .slider .slick-slide, #home-container .slider .slider-item, #home-container .slider .slider-item>* {
        height: calc(100vw / 1.78);
    }
}

@media all and (min-width: 992px) {
    #home-container .slider, #home-container .slider .slick-slide, #home-container .slider .slider-item, #home-container .slider .slider-item>* {
        height: calc(100vh - 64px);
    }
}

/* general style of the highlights */

#home-container #home-highlights {
    margin-top: 5vh;
}

#home-container #home-highlights .home-highlights-container {
    border-radius: 4px;
    overflow: hidden;
}

#home-container #home-highlights .home-highlights-content-description {
    display: inline-block;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    z-index: 1;
    position: relative;
}

#home-container #home-highlights .home-highlights-content-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

#home-container #home-highlights .home-highlights-container:hover .home-highlights-content-background {
    transform: scale(1.1);
}

#home-container #home-highlights .home-highlights-content-description *:not(button) {
    color: white;
}

#home-container #home-highlights .home-highlights-container .home-highlights-content-description button {
    float: right;
}

#home-container #home-highlights .home-highlights-container .home-highlights-content-description h3 {
    font-size: 3em;
    font-weight: 100;
    line-height: 0.8;
}