/**
 * Copyright 2020 Antoine Orgerit. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

/* global style of the swither in button mode */

.theme-switcher-btn {
    border: none !important;
    box-shadow: none;
}

.theme-switcher-btn span {
    margin: 0 !important;
    font-size: 1.1em !important;
}

/* dark style of the switcher in button mode */

body[data-theme="dark"] .theme-switcher-btn {
    background-color: inherit;
}

body[data-theme="dark"] .theme-switcher-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* global style of the swither in switch mode */

.theme-switcher-switch .ant-switch {
    margin-top: -0.3em;
}

.theme-switcher-switch .anticon {
    margin: 0;
    font-size: 1.2em;
}

.theme-switcher-switch .anticon:first-of-type {
    margin-right: 0.3em;
}

.theme-switcher-switch .anticon:last-of-type {
    margin-left: 0.3em;
}
