/**
 * Copyright 2020 Antoine Orgerit. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

/* general style of the no match page */

#no-match-container {
    text-align: center;
}

#no-match-container h3 {
    color: #fa8c16;
    font-size: 4em;
}