/**
 * Copyright 2020 Antoine Orgerit. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

/** navigation bar style **/

.navbar-container {
    padding: 0 !important;
}

.navbar-container .ant-menu {
    padding: 0 10%;
}

.navbar-container .ant-menu .logo {
    padding: 0 20px;
    height: 100%;
}

.navbar-container .ant-menu .logo h1 {
    height: 100%;
    margin-bottom: 0;
}

.navbar-container .ant-menu .logo h1 .hidden-title {
    display: none;
}

.navbar-container .ant-menu .logo span[role="img"] {
    font-size: 2em;
}

.navbar-container .ant-menu .logo span[role="img"] svg {
    height: 64px;
}

.navbar-container .ant-menu .logo:hover {
    border-bottom: 2px solid transparent;
}

.navbar-container .ant-menu .ant-menu-item:not(.mobile-menu) {
    top: initial;
}

.navbar-container .ant-menu .ant-menu-item:not(.logo) {
    float: right;
}

.navbar-container .ant-menu .theme-switcher-item {
    cursor: default;
    padding: 0 12px;
}

.navbar-container .ant-menu .mobile-menu {
    float: right;
}

.navbar-container .ant-menu .mobile-menu .ant-menu-submenu-title span {
    margin: 0;
    font-size: 1.1em;
}

/* navigation bar in light mode */

body[data-theme="light"] .navbar-container .ant-menu {
    background-color: #fa8c16;
}

body[data-theme="light"] .navbar-container .ant-menu-item:not(.logo):not(.theme-switcher-item):hover {
    border-bottom: 2px solid white;
}

body[data-theme="light"] .navbar-container .ant-menu-item:not(.logo):not(.theme-switcher-item):hover a {
    color: white;
}

body[data-theme="light"] .navbar-container .ant-menu .mobile-menu {
    border: none;
}

body[data-theme="light"] .navbar-container .ant-menu .mobile-menu .ant-menu-submenu-title[aria-expanded="true"] {
    color: white;
}

/* switching between desktop and mobile navigation */

@media all and (max-width: 830px) {
    .navbar-container .ant-menu .ant-menu-item:not(.logo) {
        display: none;
    }
}

@media all and (min-width: 831px) {
    .navbar-container .ant-menu .mobile-menu {
        display: none;
    }
}