// Copyright 2020 Antoine Orgerit. All rights reserved.
// Use of this source code is governed by a BSD-style
// license that can be found in the LICENSE file.

@import '~antd/lib/style/color/colorPalette.less';
@import '~antd/dist/antd.less';
@import '~antd/lib/style/themes/dark.less';

@primary-color: #fa8c16;

@layout-body-background: @component-background;
@layout-footer-background: @layout-header-background;