/**
 * Copyright 2020 Antoine Orgerit. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

/* style of content in the global layout */

#root {
    height: 100%;
}

#global-container {
    min-height: 100%;
    flex: 0;
}

#global-container > .ant-layout-content {
    width: 75%;
    margin: 5vh 12.5%;
}