/**
 * Copyright 2020 Antoine Orgerit. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

/* general style of the web page footer */

#footer {
    text-align: center;
    line-height: 1.2em;
}

#footer a {
    margin-left: 0.4em;
    white-space: nowrap;
}